################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/sistema/v16/.suo
/.vs/VSWorkspaceState.json
/MaxiKiosco/.vs/MaxiKiosco/v16/Server/sqlite3/db.lock
/MaxiKiosco/.vs/MaxiKiosco/v16/Server/sqlite3/storage.ide
/MaxiKiosco/.vs/MaxiKiosco/v16/.suo
