
@{
    ViewData["Title"] = "Galeria";
}

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galería  de Imagenes </h1>

<hr class="mt-2 mb-5">

<div class="row text-center text-lg-left">


    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/1.jpg" alt="">
        </a>

    </div>
    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/2.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/3.jpg" alt="">
        </a>
    </div>

    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/5.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/6.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-md-3 col-5">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/4.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="~/img/7.jpg" alt="">
        </a>
    </div>

</div>
